* {
    margin: 0;
    padding: 0;
    border:
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Oswald:wght@200;300;400;600&display=swap');

body {
    font-fa mily: 'Lato', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* Headings and Logo*/
h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#Logo {
    float: left;
    font-size: 270%;
}

/*navagation links*/

#navbar {
    font: 120%;
    letter-spacing: 4px;

}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}