@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Oswald:wght@200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    background-color: #fff;
}

/* Headings and Logo*/

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#Logo {
    font-size: 270%;
    letter-spacing: 4px;
    margin-left: 5px;
}

#header a {
    text-decoration: none;
}

#logo1a {
    text-align: center;
    padding: 10px;
}

#logo1a h1 {
    color: black;
}

/*navagation links*/

#navbar {
    font: 100%;
    letter-spacing: 4px;
    padding-top: 20px;
    padding-bottom: 50px;

}

#navbar {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

#navbar,
#Logo {
    line-height: 50px;

}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#fvcsimage1a {
    height: 950px;
}

/*fvcs-image*/

#fvcs-image {
    height: 800px;
    width: 100%;
    overflow: hidden;
    top: 0px;
    position: relative;
    padding: 16px;
    text-align: left;
    border-radius: 75px 75px;
    background: url('../images/FVCS-image.jpg') no-repeat center center;
    /*animates zoom efect on loading page */
    animation-name: fvcs-zoom;
    animation-duration: 5s;
    animation-fill-mode: none;
}

@keyframes fvcs-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*intro-text*/
#Introduction-text,
#Introduction-text h2 {
    color: #fff;
}

#Introduction-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 420px;
    height: 420px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, .7);
    bottom: 550px;
    right: 5px;
    margin-top: 100px;
    border-radius: 50px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
}

#Introduction-text p {
    text-transform: lowercase;
}

/*previous tournament*/

#prev {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 70px;
}

#prev h2 {
    margin-bottom: 45px;
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5 {
    height: 400px;
    width: 400px;
    margin-left: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 40px;
}

#tournaments {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

/*location of practices*/
#location1a {
    text-align: center;
    margin-bottom: 70px;
}

#prac-location {
    margin-bottom: 70px;
}

.pic6,
.pic7,
.pic8 {
    height: 500px;
    width: 500px;

    margin-left: 3px;
    border-radius: 50%;
    border: 3px solid #333;
    padding: 2px;
    background-color: #fff;
    display: flex;
}

#location {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

/*contact*/
.bold {
    font-weight: 900;
}

.undertext {
    text-decoration: underline;
}

#contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

/*footer*/

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 300%;
    padding: 5%;
    color: #352e34;
}

#social-networks i:hover {
    border-bottom: 1px solid red;
}

#copyright {
    color: blue;

    display: flex;
    justify-content: center;
}

/*gallery*/
.pica,
.picb,
.picc,
.picd,
.pice,
.picf,
.picg,
.pich,
.pici,
.picj,
.pick,
.picl,
.picm,
.picn,
.pico,
.picp,
.picq,
.picr,
.pics {
    height: 206px;
    width: 206px;
    max-width: 1000px;
    margin-left: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 40px;
}

#gallery-logo {

    font-size: 270%;
}


#gallerynav {
    font: 120%;
    letter-spacing: 4px;
    padding-top: 50px;

    margin-right: 30px;
}

#gallerynav {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

#gallerynav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#gallerynav a {
    text-decoration: none;
    color: inherit;
}

#gallerynav a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active1a {
    border-bottom: 1px solid #3a3a3a;
}

img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

#gallery li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-bottom: 50px;
    line-height: 75px;
    list-style-type: none;
}

#gallery a {
    text-decoration: none;
}

#images {

    max-width: 846px;
    margin: 10px auto;
}

/*contact*/
.contact-box {
    flex: 250px;
    height: 150px;
}

#contact h3 {
    text-decoration: underline;
}

/*form*/
#member-logo {

    font-size: 270%;
    padding: 0;
    margin-bottom: 0;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(212, 22, 22, 0.6);
    padding: 30px;
    border-radius: 75px 75px;
    width: 400px;
    margin: 15px auto;
}


#signup-form>h2 {
    color: #fafafa;
    margin-top: auto;
}

#nav {
    margin-bottom: 50px;
}

#navform {
    font: 120%;
    letter-spacing: 4px;
    padding-top: 50px;
}

#navform li {
    display: inline;
    float: right;
    position: relative;
    letter-spacing: 4px;
    margin-right: 30px;
}

#navform a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active2 {
    border-bottom: 1px solid #3a3a3a;
}

#navform a {
    text-decoration: none;
    color: inherit;
}

.join-button {
    background-color: rgb(255, 127, 221);
}

#fvcs-logo {
    height: 700px;
    background: url('../images/fvcs-logo.jpg') no-repeat center center;
    border-radius: 75px 75px;
}

@media screen and (max-width: 500px) {

    #navbar {
        margin-left: 30px;
    }

    #signup-form {
        height: 300px;
        width: 190px;
    }

    #navform {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        bottom: 80px;
    }

    #navform li {

        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #fvcs-image {
        padding-top: 800px;
    }

    #Introduction-text {
        bottom: 570px;
        width: 380px;

    }

    #fvcs-image {
        height: 50px;
        width: 500px;
    }

    #gallerynav li {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }


    .pic6,
    .pic7,
    .pic8 {
        height: 350px;
        width: 350px;
        margin-left: 3px;
        border-radius: 50%;
        border: 3px solid #333;
        padding: 2px;
        background-color: #fff;

    }

    #images {
        margin-top: 0px
    }

    #gallerynav {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        bottom: 80px;
    }

    #navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        bottom: 80px;
    }

    #logo1a {
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 800px) {

    #location {
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: stretch;
        align-items: baseline;
        justify-content: space-around;
    }

    #tournaments {
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}