@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Oswald:wght@200;300;400;600&display=swap');




body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    background-color: aquamarine;
}

/* Headings and Logo*/
h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#Logo {
    float: left;
    font-size: 270%;

}


/*navagation links*/

#navbar {
    font: 120%;
    letter-spacing: 4px;
    padding-top: 50px;

}

#navbar,
#Logo {
    line-height: px;

}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
#fvcs-image {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}


/*fvcs-image*/

#fvcs-image {
    height: 800px;
    weight: 80%;
    background: url('../images/FVCS-image.jpg') no-repeat center center;

    /*animates zoom efect on loading page */
    animation-name: fvcs-zoom;
    animation-duration: 5s;
    animation-fill-mode: none;
        
}
#players {height: 50px;}

@keyframes fvcs-zoom {
    from {
        transform: scale (1);

    }

    to {
        transform: scale(1.1);

    }
}
#Introduction-text,
#Introduction-text h2 {
    color: #fff;
}
#Introduction-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}